#wrapper {
    padding-top: 45px;
    box-sizing: border-box;
    height: 100vh;
    background: #fafafa;
}

#mainGrid {
    height: 100%;
    margin: 0;
    position: relative;
}

#nav {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

#mainGrid .bottomSegment {
    height: 30vh;
    bottom: 14px;
    position: absolute;
    width: 100%;
    left: 0;
}

.program_canvas {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0;
    image-rendering: pixelated;
    border: 1px solid #e0e0e0;
}

#nav_windowControls {
    position: absolute;
    right: 0;
    height: 100%;
    padding: 0;
    -webkit-app-region: no-drag;
}

#nav_fileDropdown {
    -webkit-app-region: no-drag;
}

#nav_windowControls::before {
    display: none;
}

#nav_windowControls > button {
    padding: 0 15px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: #ffffff00;
    color: rgba(255,255,255,.9);
    outline: none !important;
    transition: background-color 0.1s ease;
}

#nav_windowControls > button:hover {
    background-color: #ffffff10;
    cursor: pointer;
}

#nav_windowControls #nav_windowControlClose:hover {
    background-color: #c02020ff;
}

.libraryAsset .content {
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-wrap: break-word;
}

#library_items .libraryAsset {
    padding: 1em !important;
}

#library_items .libraryAsset:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

#library_assetViewer .item .icon {
    width: auto;
    height: 2rem;
    font-size: 2rem;
    line-height: 2rem;
}

#library_assetView {
    height: 12vw;
    max-width: 12vw;
    width: 100%;
    display: block;
    margin: 8px auto;
    background: #e0e0e0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
}

#library_items {
    margin-top: 0;
    padding: 0;
}

#library_items .libraryAsset.active {
    background-color: #f0f0f0;
    font-weight: bold;
}

#library_controlContainer {
    padding: 20px 8px 8px 8px;
    position: sticky;
    background-color: white;
    top: 40px;
    z-index: 25;
}

.hidden {
    display: none !important;
}

.asideGrid {
    height: 100%;
}

.ui.segment.asideSegment {
    overflow-y: auto;
    padding: 0;
    height: 100%;
}

.ui.segment.asideSegment .segmentHeader {
    position: sticky;
    top: 0;
    background: white;
    z-index: 50;
    margin-bottom: 0;
}

/* Context Menus */
.contextMenu {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    margin: 0 !important;
    transition: opacity 0.25s ease;
}

.dangerArea {
    color: #C02020 !important;
    background-color: #C0202030 !important;
}